.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: var(--primary-color);
  color: white;
}

.footer p {
  text-align: center;
}
.footer ul {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 2rem;
}
